/* font-family: "Space Grotesk"; */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
:root {
  --black-color: #000000;
  --green-color: #b9ff66;
  --dark-color: #191a23;
  --grey-color: #f3f3f3;
  --white-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.5rem 1.8rem;
}

/* nav-bar style */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.7rem 1.4rem;
  filter: drop-shadow(1px 1px 5px var(--green-color));
  background-color: var(--white-color);
  z-index: 999;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul li a {
  text-decoration: none;
  color: var(--black-color);
  padding: 0.5rem 1rem;
  display: block;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.requst-btn button {
  margin-left: 0.5rem;
  display: block;
  border: 2px solid var(--dark-color);
  outline: none;
  background: transparent;
  padding: 0.7rem 1.3rem;
  cursor: pointer;
  border-radius: 14px;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.nav-bar ul li:hover a,
.hero-btn,
.proposal-btn,
.team-btn {
  background: #000;
  color: var(--grey-color);
}
input[type="checkbox"] {
  display: none;
}
.open-menu,
.close-menu {
  display: none;
}

/* hero section  style */
.hero-section {
  margin-block: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 45%;
  align-items: flex-start;
}

.hero-title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero-p {
  margin-block: 35px;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.hero-btn,
.proposal-btn,
.team-btn {
  display: block;
  border: 2px solid var(--black-color);
  outline: none;
  padding: 0.7rem 1.7rem;
  cursor: pointer;
  border-radius: 14px;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.hero-btn:hover,
.proposal-btn:hover,
.requst-btn:hover button,
.team-btn:hover {
  background-color: var(--green-color);
  color: var(--dark-color);
}
.hero-img {
  flex-basis: 50%;
  width: 100%;
}
.hero-img img {
  display: block;
  width: 100%;
  height: auto;
}
.illustration {
  display: none;
}

/* company logos section style */
.company-logos-section {
  overflow: hidden;
}
.company-logos {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  animation: logo-animation 5s linear infinite;
}
.company-logos-section:hover .company-logos {
  animation: none;
}

.company-logos img {
  display: block;
  filter: grayscale(1);
}
@keyframes logo-animation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

/* services section style */
.services-section {
  margin-block: 100px;
}
.service-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.service-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: var(--green-color);
  border-radius: 7px;
  padding: 0 0.3rem;
  text-align: center;
}
.service-p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 26.7rem;
}
.service-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
}

.service-card {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  border-radius: 45px;
  border: 1px solid var(--dark-color);
  background: var(--Grey, #f3f3f3);
  box-shadow: 0px 5px 0px 0px #191a23;
}
.service-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service-card-title h3 {
  max-width: fit-content;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: var(--green-color);
  border-radius: 7px;
  padding: 0 0.3rem;
}
.service-card-img {
  display: flex;
  align-items: center;
}
.service-card-img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.learn-more {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.learn-more i {
  padding: 0.6rem 0.7rem;
  font-size: 1rem;
  border-radius: 50%;
  transform: rotate(44deg);
  background-color: var(--black-color);
  color: var(--green-color);
  cursor: pointer;
}
.learn-more button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.s-card-2 h3,
.s-card-3 h3,
.s-card-5 h3 {
  background-color: var(--white-color);
}
.s-card-1,
.s-card-4 {
  background-color: var(--grey-color);
}
.s-card-2,
.s-card-5 {
  background-color: var(--green-color);
}
.s-card-3,
.s-card-6 {
  background-color: var(--black-color);
}
.s-card-3 .learn-more i,
.s-card-6 .learn-more i {
  background-color: var(--white-color);
  color: var(--black-color);
}
.s-card-3 .learn-more button,
.s-card-6 .learn-more button {
  color: var(--white-color);
}

/* proposal-section style */
.proposal-section {
  display: flex;
  background-color: var(--grey-color);
  position: relative;
  border-radius: 45px;
}
.proposal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-basis: 55%;
  padding: 2.6rem 3rem;
}
.proposal-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.proposal-p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.proposal-img {
  flex-basis: auto;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 1rem;
  transform: translate(0, 0.1%);
}
.proposal-img img {
  display: block;
  width: 100%;
  height: auto;
}
/* Case study section */
.case-study-section {
  margin-block: 100px;
}
.case-study-content {
  display: flex;
  justify-content: stretch;
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 45px;
  padding: 4.67rem 3rem;
}
.case-study-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  border-right: 1px solid var(--white-color);
}
.cs-card-1 {
  padding-right: 2rem;
}
.cs-card-2 {
  padding: 0rem 2rem;
}
.cs-card-3 {
  padding-left: 2rem;
  border: none;
}
.case-study-card p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.case-study-card button {
  color: var(--green-color);
  font-size: 20px;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  cursor: pointer;
}
.learn-more-icon {
  transform: rotate(44deg);
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

/* our working section style */
.our-working-section {
  margin-block: 100px;
}
.working-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.wc-card-1 {
  padding: 2.6rem 3rem;
  border-radius: 45px;
  border: 1px solid var(--dark-color);
  background: var(--green-color);
  box-shadow: 0px 5px 0px 0px var(--dark-color);
}
.working-card {
  padding: 2.6rem 3rem;
  border-radius: 45px;
  border: 1px solid var(--dark-color);
  background: var(--grey-color);
  box-shadow: 0px 5px 0px 0px var(--dark-color);
}
.wc-text-1 {
  border-bottom: 1px solid var(--dark-color);
}
.working-card-header,
.wc-header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.wc-header-text {
  gap: 1rem;
}
.wc-header-text h2 {
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.working-card-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wc-header-icon {
  background-color: var(--white-color);
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.working-card-p {
  margin-top: 1.5rem;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Team section style */

.team-section {
  margin-block: 100px;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.team-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  border-radius: 45px;
  border: 1px solid var(--dark-color);
  box-shadow: 0px 5px 0px 0px var(--dark-color);
  padding: 40px 35px;
}
.team-card-content {
  display: flex;
  align-items: end;
  padding-bottom: 1.4rem;
  border-bottom: 1px solid var(--dark-color);
  position: relative;
  gap: 0.7rem;
}

.team-card-text p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.team-card-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.team-card-p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.team-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  color: var(--green-color);
  background-color: var(--black-color);
  border-radius: 50%;
  cursor: pointer;
}
.team-btn {
  align-self: flex-end;
}

/* testimonial section style */

.testimonial-section {
  margin-block: 100px;
}
.testimonials-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 7rem 2rem;
  background-color: var(--black-color);
  border-radius: 45px;
}

.testimonials-card {
  position: relative;
  display: inline-block;
  margin-top: 13rem;
  flex-basis: 100%;
}
.tooltip-text {
  position: absolute;
  bottom: 155%;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  padding: 48px 28px;
  color: var(--white-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 45px;
  border: 1.5px solid var(--green-color);
  z-index: 99;
}
.tooltip-text::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 8.4%;
  border-width: 20px;
  border-style: solid;
  border-color: var(--green-color) transparent transparent transparent;
}
.testimonials-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--green-color);
  display: block;
  margin-left: 2rem;
}
.testimonials-position {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  color: var(--white-color);
  margin-left: 2rem;
}
